.buttons{
    display: grid;
    grid-template-columns: repeat(4, 20%);
    column-gap: 3%;
    height: 400px;
    
    margin-left: 15px;
    row-gap: 3%;
}.body{
    width: 90%;
    margin: 5% 3% 1% 3%;
    padding:10px 0px 25px 18px;
    border-radius: 5%;
    background-color: hsla(203, 100%, 84%, 1);
    border: 2px solid black;-webkit-box-shadow: 21px 16px 34px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: 21px 16px 34px 11px rgba(0,0,0,0.75);
    box-shadow: 21px 16px 34px 11px rgba(0,0,0,0.75);
}.display{
    background-color: rgba(80, 195, 195, 0.836);
    width: 88.5%;
    height: 70px;
    margin-bottom: 10px;
    border-radius: 10%;
    font-size: 150%;
    padding: 5px;
    display: flex;
    z-index: -1;
    flex-direction: row;-webkit-box-shadow: 21px 16px 34px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: 21px 16px 34px 11px rgba(0,0,0,0.75);
    box-shadow: 21px 16px 34px 11px rgba(0,0,0,0.75);
}button{
    color: hsla(220, 11%, 5%, 0.58);
    background-color: hsla(215, 100%, 56%, 0.58);
    border-radius: 10%;-webkit-box-shadow: 21px 16px 34px 11px rgba(0,0,0,0.75);
-moz-box-shadow: 21px 16px 34px 11px rgba(0,0,0,0.75);
box-shadow: 21px 16px 34px 11px rgba(0,0,0,0.75);
    
}
.reset{
    margin-top: 10px;
    width: 95.8%;
    height: 53px;
    border-radius: 10%;
    
}
@media screen and (min-width:710px) {
    .body{
        width: 40%;
        margin-left: 28%;
        padding: 3%;
    }.buttons{
        margin-right: -4%;
    }.display{
        width: 93%;
    }
}